body{
	margin: 0;
    color: #82848f;
    font-size: 14px;
    line-height: 1;
    font-family: 'Maison Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.page-head{
	height: 360px;
    background: linear-gradient(45deg, rgb(241, 133, 104) 0%, rgb(241, 133, 104) 1%, rgb(192, 62, 74) 100%);
    position: relative;
}
.page-head>.inner{
    width: 570px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -5px 40px 7px rgba(0,0,0,0.08);
}
.page-head>.inner .avatar>img{
	height: 95px;
    width: 95px;
    border-radius: 50%;
    margin-top: 50px;
}
.page-head>.inner .fullname{
	margin: 20px 0;
    font-weight: 400;
    color: #fffefe !important;
    font-size: 1.5em;
}
.page-head>.inner .sologan{
	padding: 0 0 25px 0;
    color: #fff;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 auto;
    opacity: 0.75;
    font-size: 13px;
}
.page-head>.inner .contacts{
	display: flex;
	border-top: 1px solid rgb(241, 125, 93);
}
.page-head>.inner .contacts p{
    padding: 8px 0;
}
.page-head>.inner .contacts>.item{
	width: 33%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    color: #fffefe !important;
    text-decoration: unset;
    border-left: 1px solid rgb(241, 125, 93);
    position: relative;
    padding-top: 30px;
	cursor: pointer;
}
.page-head>.inner .contacts>.itemnth-child(1){
	border-left: unset;
	width: 34%;
}
.page-head>.inner .contacts>.itemhover{
	background: #d25655;
}
.page-head>.inner .contacts>.item>.icon{
	color: #fffefe;
    position: absolute;
    font-size: 24px;
    top: 8px;
    left: 0;
	right: 0;
}
.page-body{
	position: relative;
	height: 500px;
}
.page-body>.inner .timeline{
    padding: 20px 60px;
}
.page-body>.inner .timeline>.info{
    margin-bottom: 25px;
    border: 1px dashed #d0d0d0;
    padding: 20px;
    border-radius: 2px;
    line-height: 20px;
}
.page-body>.inner .timeline>.time{
    text-align: center;
    position: relative;
}
.page-body>.inner .timeline>.time .value{
    font-weight: 600;
}
.page-body>.inner .timeline>.time .next,
.page-body>.inner .timeline>.time .back{
    font-size: 20px;
    cursor: pointer;
}
.page-body>.inner .timeline>.time .next.off,
.page-body>.inner .timeline>.time .back.off{
    color: #eee;
}
.page-body>.inner .timeline>.time .back{
	margin-right: 40px;
}
.page-body>.inner .timeline>.time .next{
	margin-left: 40px; 
}
.page-body>.inner .skill{
	padding: 20px 60px;
}
.page-body>.inner .skill>.item{
    padding: 10px 0;
}
.page-body>.inner .skill>.item>.title{
    font-size: 15px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}
.page-body>.inner .skill>.item>.process{
    display: inline-block;
    float: right;
    background: #d0d0d0;
    width: 300px;
    height: 13px;
    position: relative;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 -5px 40px 7px rgba(0,0,0,0.08);
}
.page-body>.inner .skill>.item>.process:before{
	content: '';
	height: 100%;
	background: #d05454;
	position: absolute;
	left: 0;
}
.page-body>.inner .skill>.item>.process.lv-1:before{
	width: 20%;
}
.page-body>.inner .skill>.item>.process.lv-2:before{
	width: 40%;
}
.page-body>.inner .skill>.item>.process.lv-3:before{
	width: 60%;
}
.page-body>.inner .skill>.item>.process.lv-4:before{
	width: 80%;
}
.page-body>.inner .products{
    padding: 29px;
}
.page-body>.inner .products .item{
    border-bottom: 1px dashed #afafaf;
    margin-bottom: 15px;
}
.page-body>.inner .products .item>li{
    padding: 10px;
    position: relative;
    padding-left: 120px;
}
.page-body>.inner .products .item>li .label{
    font-weight: 600;
    position: absolute;
    display: inline-block;
    left: 10px;
}
.page-body>.inner .products .item>li .value{
    font-size: 13px;
    line-height: 18px;
}
.page-body>.inner .products .item>li .value a{
    font-weight: 600;
    color: #554db5;
}
.page-body>.inner{
	box-shadow: 0 -5px 40px 7px rgba(0,0,0,0.08);
    width: 570px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.page-body>.inner>.info{
	padding: 20px 60px;
	margin-left: 65px;
}
.page-body>.inner>.info>.item{
	border-bottom: 1px solid #eee;
	padding: 18px 0;
	position: relative;
}
.page-body>.inner>.info>.item>.value{
	margin: 0;
    padding-bottom: 5px;
    color: #2b2b2b;
    line-height: 20px;
    display: block;
    text-decoration: unset;
}
.page-body>.inner>.info>.item>.label{
	font-size: 13px;
}
.page-body>.inner>.info>.item>.icon{
	font-size: 26px;
    position: absolute;
    left: -50px;
    color: #afafaf;
}
.page-body>.inner>.social{
	padding: 0px 60px;
	margin-left: 65px;
	margin-bottom: 20px;
}
.page-body>.inner>.social>.title{
	margin: 10px 0px 20px 0;
	font-size: 16px;
}
.page-body>.inner>.social a{
	position: relative;
	width: 40px;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    margin-right: 15px;
}
.page-body>.inner>.social a .icon{
	position: absolute;
}
.page-body>.inner>.social a.fb{
    background: #554DB5;
}
.page-body>.inner>.social a.fb .icon{
    font-size: 22px;
    left: 13px;
    top: 10px;
    color: #fff;
}
.page-head,
.page-body,
.page-head>.inner, 
.page-body>.inner{
	min-width: 400px;
}
.page-body{
    margin-bottom: 40px;
}
.page-body .download-contact {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 40px;
}
.page-body .download-contact .icon{
    font-size: 20px;
    position: absolute;
    left: 28px;
    top: 10px;
}
.page-body .download-contact a{
    text-decoration: unset;
    display: inline-block;
	text-align: center;
	background: rgb(86, 87, 127);
	padding: 15px 20px;
	font-size: 14px;
	font-weight: 500;
	box-shadow: 0px 10px 14.1px 0.9px rgba(0,0,0,0.24), 0px 4px 19.6px 0.4px rgba(0,0,0,0.16);
	text-transform: uppercase;
	color: #fff;
	border-radius: 2px;
    padding-left: 60px;
	position: relative;
}
@media only screen and (max-width: 768px) {
	.page-head>.inner, 
	.page-body>.inner{
		width: 100%;
	}
	.page-head{
	    height: 315px;
	}
}
