/* body */
body{
	margin: 0;
    color: #82848f;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
/* header */
.header{
	height: 350px;
    background-image: linear-gradient(purple, pink);
    position: relative;
}
/* .content-head */
.header>.content-head{
    width: 570px;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -5px 40px 7px rgba(245, 5, 5, 0.08);
}
/* full name */
.header>.content-head .fullname {
    margin: 20px 0;
    font-weight: 400;
    color: #fffefe !important;
    font-size: 1.5em;
}
/* sologan */
.header>.content-head .sologan {
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
    padding: 0 0 25px 0;
    margin: 0 auto;
    opacity: 0.75;
    font-size: 13px;
}
/* contact */
.header>.content-head .contact {
    display: flex;
    border-top: 1px solid rgb(83, 24, 190);
}
/* icon */
.header>.content-head .contact>.item {
    display: inline-block;
    height: 40px;
    width: 33%;
    text-transform: uppercase;
    font-size: 11px;
    color: #fffefe !important;
    text-decoration: unset;
    border-left: 1px solid rgb(83, 24, 190);
    position: relative;
    padding-top: 10px;

    cursor: pointer;
}
.header>.content-head .contact>.item>.icon {
    color: #fffefe;
    position: absolute;
    font-size: 23px;
    top: 5px;
    left: 0;
    right: 0;
}
.text-botton{
    padding-top: 10px;
}
.page-body{
	position: relative;
	height: 500px;
}
/* page-1-2 timeline */
.page-body>.content-head .timeline{
    padding: 20px 60px;
}
.page-body>.content-head .timeline>.info{
    margin-bottom: 25px;
    border: 2px solid #d0d0d0;
    padding: 20px;
    border-radius: 2px;
    line-height: 20px;
}
.page-body>.content-head .timeline>.time{
    text-align: center;
    position: relative;
}
.page-body>.content-head .timeline>.time .value{
    font-weight: 550;
}
.page-body>.content-head .timeline>.time .next,
.page-body>.content-head .timeline>.time .back{
    font-size: 20px;
    cursor: pointer;
}
.page-body>.content-head .timeline>.time .next.off,
.page-body>.content-head .timeline>.time .back.off{
    color: #eee;
}
.page-body>.content-head .timeline>.time .back{
	margin-right: 40px;
}
.page-body>.content-head .timeline>.time .next{
	margin-left: 40px; 
}
/* skill */
.page-body>.content-head .skill{
	padding: 20px 60px;
}
.page-body>.content-head .skill>.item{
    padding: 10px 0;
}
.page-body>.content-head .skill>.item>.title{
    font-size: 15px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}
.page-body>.content-head .skill>.item>.process{
    display: inline-block;
    float: right;
    background: #d0d0d0;
    width: 300px;
    height: 13px;
    position: relative;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 -5px 40px 7px rgba(0,0,0,0.08);
}
.page-body>.content-head .skill>.item>.process:before{
	content: '';
	height: 100%;
	background: #d05454;
	position: absolute;
	left: 0;
}
.page-body>.content-head .skill>.item>.process.lv-1:before{
	width: 20%;
}
.page-body>.content-head .skill>.item>.process.lv-2:before{
	width: 40%;
}
.page-body>.content-head .skill>.item>.process.lv-3:before{
	width: 60%;
}
.page-body>.content-head .skill>.item>.process.lv-4:before{
	width: 80%;
}
/* product */
.page-body>.content-head .products{
    padding: 29px;
}
.page-body>.content-head .products .item{
    margin-bottom: 15px;
}
.page-body>.content-head .products .item>li{
    padding: 10px;
    position: relative;
    padding-left: 120px;
}
.page-body>.content-head .products .item>li .label{
    font-weight: 600;
    position: absolute;
    display: inline-block;
    left: 10px;
}
.page-body>.content-head .products .item>li .value{
    font-size: 13px;
    line-height: 18px;
}
.page-body>.content-head .products .item>li .value a{
    font-weight: 600;
    color: #554db5;
}
.page-body>.content-head{
	box-shadow: 0 -5px 40px 7px rgba(0,0,0,0.08);
    width: 570px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.page-body>.content-head>.info{
	padding: 20px 60px;
	margin-left: 65px;
}
.page-body>.content-head>.info>.item{
	border-bottom: 1px solid #eee;
	padding: 18px 0;
	position: relative;
}
.page-body>.content-head>.info>.item>.value{
	margin: 0;
    padding-bottom: 5px;
    color: #2b2b2b;
    line-height: 20px;
    display: block;
    text-decoration: unset;
}
.page-body>.content-head>.info>.item>.label{
	font-size: 13px;
}
.page-body>.content-head>.info>.item>.icon{
	font-size: 26px;
    position: absolute;
    left: -50px;
    color: #afafaf;
}
.page-body>.content-head>.social{
	padding: 0px 60px;
	margin-left: 65px;
	margin-bottom: 20px;
}
.page-body>.content-head>.social>.title{
	margin: 10px 0px 20px 0;
	font-size: 16px;
}
.page-body>.content-head>.social a{
	position: relative;
	width: 40px;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    margin-right: 15px;
}
.page-body>.content-head>.social a .icon{
	position: absolute;
}
.page-body>.content-head>.social a.fb{
    background: #554DB5;
}
.page-body>.content-head>.social a.fb .icon{
    font-size: 22px;
    left: 13px;
    top: 10px;
    color: #fff;
}
.header,
.page-body,
.header>.content-head, 
.page-body>.content-head{
	min-width: 400px;
}
.page-body{
    margin-bottom: 40px;
}
.page-body .download-contact {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 40px;
}
.page-body .download-contact .icon{
    font-size: 20px;
    position: absolute;
    left: 28px;
    top: 10px;
}
.page-body .download-contact a{
    text-decoration: unset;
    display: inline-block;
	text-align: center;
	background: rgb(86, 87, 127);
	padding: 15px 20px;
	font-size: 14px;
	font-weight: 500;
	box-shadow: 0px 10px 14.1px 0.9px rgba(0,0,0,0.24), 0px 4px 19.6px 0.4px rgba(0,0,0,0.16);
	text-transform: uppercase;
	color: #fff;
	border-radius: 2px;
    padding-left: 60px;
	position: relative;
}
@media only screen and (max-width: 768px) {
	.header>.content-head, 
	.page-body>.content-head{
		width: 100%;
	}
	.header{
	    height: 315px;
	}
}